<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="SAMPLEConnectionString" connectionString="Data Source=LAPTOP-78I88Q4U\SQLEXPRESS;Initial Catalog=SAMPLE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SAMPLEConnectionString2" connectionString="Data Source=LAPTOP-78I88Q4U\SQLEXPRESS;Initial Catalog=SAMPLE;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="SAMPLEConnectionString3" connectionString="Data Source=VANSH\SQLEXPRESS;Initial Catalog=SAMPLE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
